/* generic classes */

.app-holder{
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap:5rem;
  width: fit-content;
}

.food-guide{
  background: url('https://previews.123rf.com/images/vectorshots/vectorshots1407/vectorshots140700225/29659934-blue-subtle-background.jpg');
  background-size: cover;
  background-repeat: no-repeat; 
}

.heading{
  margin: 1rem;
}
.line-under{
  width: 40px;
  height: 2px;
  background-color:rgba(40, 20, 255, 0.7);
}
.line{
  display:block;
  background-color:rgb(151, 151, 151);
  height: 2px;
}

/*  utils  */

.h-80{
  height: 80vh;
}
.h-3{
  min-height: 20%;
  
}
.h-2{
  height: 50%;
}
.p-1{
  padding: 1rem;
}
.pb-1{
  padding-bottom: 1rem;
}
.pt-1{
  padding-top: 1rem;
}
.p-2{
  padding: 2rem;
}
.w-full{
  width: 100%;
}
.gap-1{
  gap:1rem;
}
.gap-2{
  gap:2rem;
}
.gap-8{
  gap:8rem;
}

/* text-utils */

.justify{
  text-align: justify;
}
.center{
  text-align: center;
}

/* flex props */

.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.space-bw{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.center{
  justify-content: center;
}
.items-start{
  align-items: flex-start;
}
.items-center{
  align-items: center;
}

/* grid props */

.grid{
  display: grid;
}
.grid-2{
  grid-template-columns: 1fr 1fr;
  gap:10px;
}
.grid-3{
  grid-template-columns: repeat(3,1fr);
  gap:10px;
}
.grid-mid-3{
  grid-template-columns: 1fr 2fr 1fr;
  gap:10px;
}
